<div class="footer" style="margin-top: 0px;">
        <!-- <img src="../images/white_logo.png" style="height: 28px; width: 90px; margin-top: 25px; float:left;"> -->
        <br>
        <hr style="background-color: #58595A; margin-top: 20px; margin-bottom: 10px;" >
      
        <div class="row">
          <div class="col-sm-8">
            <div class="footer-info">
              티메이트 &nbsp |  &nbsp 대표: 김가현 &nbsp | &nbsp
              사업자등록번호: 123-123123-123123 &nbsp| &nbsp 전화: +82 1899-8888 &nbsp | &nbsp이메일: ccc@naver.com <br>
              서울시 강남구 개포로 26길 2(개포동 1216번지), 1층 C3KOREA <br>
              Copyright &copy CleanC All Right Reserved.
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-icon" style="color: #b1b1b1; font-size: 28px;">
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-google-plus-square"></i>
            </div>
          </div>
        </div>
      </div>
      