<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar')%>
        <div class="image-cover" style="background-image: url('../images/main.jpg'); height: 450px;" >
            <div class="filter"></div>
            <div class="main-text"> About </div>
        </div>

        <div class="section">
            <h1>
                about page
            </h1>
                
        </div>
 
        <%- include('partials/footer')  %>
    </body>
</html>