<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>        
        <div class="container">
            <div class="row">
            <% users.forEach((u)=>{ %>
                <div class="col-md-4">
                    <!-- <a href="/project/<%#= project._id %>"> -->
                        <div class="card">
                            <img src="./images/note.jpg" class="card-image">
                            <div class="card-title">
                                <%= u.email %>
                            </div>
                            <div class="card-content">
                                <!-- <%#= user.detail %> -->
                            </div>
                            <div class="card-date">
                                <!-- <%#= project.createdAt %> -->
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
            <% }) %>
            </div>
        </div>
    
        <%- include('partials/footer')  %>
    </body>
</html>