<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="section">
        <h1> Index </h1>
        <h2> 프로젝트를 소개하는 페이지</h2>
    </div>
</body>

</html>