<h1>
    Join
</h1>
<form aciton="/join" method="POST">
    <input type="text" name="name" placeholder="name을 입력하세요">
    <input type="text" name="email" placeholder="email을 입력하세요">
    <input type="password" name="password" placeholder="password을 입력하세요">
    <input type="submit">
</form>