<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="email" placeholder="이메일을 입력하세요"> 
    <input type="password" name="password" placeholder="비밀번호를 입력하세요"> 
    <input type="submit">
</form>
