<head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body>
    <div class="container">
        <i class="fas fa-id-card-alt" style="font-size: 150px;color:gainsboro"></i>
        <h1> TEAMATE<br>프로토타입 </h1>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div id="new-alert"></div>
                <h3>새 메이트를 추가합니다</h3>
                <input type="text" id="new-email" name="email" placeholder="새로 추가할 메이트의 email을 입력하세요"> <br>
                <button class="btn btn-primary" id="new-btn">추가하기</button>
            </div>   
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div id="add-alert"></div>
                <h3>메이트에 새 프로젝트 점수를 추가합니다</h3>
                <input type="text" id="add-email" name="email" placeholder="프로젝트점수를 추가할 메이트의 email을 입력하세요"> <br>
                <input type="text" id="add-project" name="project" placeholder="프로젝트점수를 추가할 메이트의 프로젝트이름을 입력하세요"> <br>
                <input type="text" id="add-score" name="score" placeholder="프로젝트점수를 추가할 메이트의 점수를 입력하세요"> <br>
                <button class="btn btn-primary" id="add-btn">추가하기</button>
            </div>     
        </div>   
        <div class="row justify-content-md-center">
            <div class="col-lg">
                <div id="find-alert"></div>
                <h3>이메일로 메이트를 조회합니다</h3>
                <input type="text" id="find-email" name="email" placeholder="조회할 mate의 email을 입력하세요"> <br>
                <button class="btn btn-warning" id="find-btn">조회하기</button>
                
                <!-- 테이블 안에 row를 하나씩 붙이는 곳 -->
                <table class="table">
                    <tbody id="table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>    
    $("#new-btn").click(()=>{
        // new-email이라는 id값을 가지고 있는 input의 value를 가지고 옴
        const value = $("#new-email").val();
        const url = "/mate"

        // email이라는 파라메터에 위의 value를 넣음
        $.post(url, {email: value}, (data,status)=>{
            // http 상태 코드가 200(success)이라면
            if(status == "success"){
                // 성공했다는 alert창을 띄움
                $('#new-alert').append("<div id='success' class='alert alert-success'>추가를 성공했습니다!</div>");
                $('#new-alert').fadeOut(4000);
            }
        })
    })
    $("#add-btn").click(()=>{
        // new-email이라는 id값을 가지고 있는 input의 value를 가지고 옴
        const e = $("#add-email").val();
        const p = $("#add-project").val();
        const s = $("#add-score").val();

        const url = "/score"

        // email이라는 파라메터에 위의 value를 넣음
        $.post(url, {email: e,project: p, score:s }, (data,status)=>{
            // http 상태 코드가 200(success)이라면
            if(status == "success"){
                // 성공했다는 alert창을 띄움
                $('#add-alert').append("<div id='success' class='alert alert-success'>점수추가를 성공했습니다!</div>");
                $('#add-alert').fadeOut(4000);
            }
        })
    })
    
    $("#find-btn").click(()=>{
        const value = $("#find-email").val();
        const url = "/mate/" + value
        $.post(url, {email: value}, (data)=>{
            // 조회했을 때 값이 null이 아니면 (일치하는 값이 존재한다면)
            if(status != null){
                $('#find-alert').append("<div id='success' class='alert alert-success'>조회를 성공했습니다!</div>");
                $('#find-alert').fadeOut(2000);

                // stringify는 json객체를 string으로, parse는 string을 json객체로 변환 시켜줌
                const test = JSON.stringify(data)
                const parsedData = JSON.parse(test)
                $('#table').empty();
                
                $('#table').append("<tr><th scope='row'>average</th><td>" + parsedData.average + "</td></tr>")
                // Line 69~ 86 : rates라는 key의 value로 Json array가 있으므로 반복문을 통해 한 줄씩 테이블에 넣어줌
                for(var i = 0; i < parsedData.rates.length; i++ ){
                    $('#table').append("<tr><th scope='row'>project title</th><td>" + parsedData.rates[i].projecttitle + "</td></tr>")
                    $('#table').append("<tr><th scope='row'>score</th><td>" + parsedData.rates[i].score + "</td></tr>")
                }
            }        
        })
    })
</script>

<!-- styling -->
<style>
    .container{
        width: 100%;
        height: 500px;
        margin: 50px 50px;
        padding: 20px 20px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform:translateX(-50%);        
    }

    button{
        margin: 20px 10px;
    }

    input{
        width: 300px;
        padding: 10px 8px;
    }

    .col-6{
        padding: 20px 10px;
    }
</style>
